/* ----- basic ----- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  word-break: break-word;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input[type=text]::-ms-clear {
  display: none;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.text-fitter {
  width: 568px;
  padding: 0 50px;
  margin: 0 auto;

  text-align: inherit;
}

.button-big {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: inherit;

  border: none;
}

.button-small {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: inherit;

  border: none;
}
.button-brown {
  color: #ffffff;
  background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* ----- visually-hidden ----- */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- header -----*/
.main-navigation {
  position: relative;
  width: 100%;
  min-height: 56px;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: calc(50% - 70px);
  display: inline-block;
  width: 140px;
  height: 71px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-navigation li {
  width: 236px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:first-child {
  padding-left: 72px;

  text-align: left;
}

.site-navigation li:nth-child(2) {
  padding-left: 73px;
  margin-right: 244px;

  text-align: left;
}

.site-navigation li:nth-child(3) {
  padding-right: 73px;

  text-align: right;
}

.site-navigation li:last-child {
  padding-right: 72px;

  text-align: right;
}

.site-navigation a {
  color: inherit;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}
/* ----- .main -----*/
/* ----- intro ----- */
.welcome {
  width: auto;
  height: 508px;

  background-color: #d7e8f1;
  background-image:
    url("../img/intro-welcome.svg"),
    url("../img/intro-mask.svg"),
    url("../img/background-main.jpg");
  background-size: 38% 100%, 100%, 100%;
  background-position: 49.9% 49.25%, 50% 100.5%, 0% 28.5%;
  background-repeat: no-repeat;
}

.introduction {
  padding-top: 61px;
  padding-bottom: 50px;

  text-align: center;
}

.introduction h2 {
  font-size: 21px;
  line-height: 26px;
}

.introduction p {
  margin: 0;
  margin-top: 27px;

  line-height: 26px;
  color: #333333;
}

/* ----- .features-list ----- */
.features-list {
  background-color: #eeeeee;
}

.features-list, .features-sub-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
  text-align: center;
}

.features-list h3 {
  max-width: 151px;
  margin: 0 auto;

  font-size: 21px;
}

.features-list p {
  margin: 0;
  margin-top: 22px;
}

.list-item p:last-of-type {
  padding: 0 21px;
}

/*  for Pixel Perfect */
.list-item:last-child p:last-of-type {
  padding-left: 24px;
}


.features-list .item-special {
  display: flex;

  color: #ffffff;
  background-color: #81b3d2;
}

.item-special p:last-of-type {
  padding: 0;
}

.item-special:nth-child(even) {
  flex-direction: row-reverse;
}

.item-image {
  width: 800px;
  height: 256px;

  background-color: #e7b499;
}

.list-item, .sub-list-item {
  flex-grow: 1;
  width: 400px;
  min-height: 256px;
  padding: 48px;
}

.features-sub-list h3 {
  position: relative;
  padding-top: 109px;
}

.features-sub-list p {
  margin-top: 23px;
  margin-bottom: 34px;
}

.sub-list-item {
  padding-top: 53px;

  background-color: #ffffff;
}

.sub-list-item h3::before {
  position: absolute;
  top: 5px;
  left: calc(50% - 74px / 2);
  content: "";
  width: 74px;
  height: 76px;
}

.sub-list-item:first-child h3::before {
  background: url(../img/icon-1.svg) no-repeat center;
}

.sub-list-item:nth-child(2) h3::before {
  background: url(../img/icon-2.svg) no-repeat center;
}

.sub-list-item:last-child h3::before {
  background: url(../img/icon-3.svg) no-repeat center;
}

/* ----- .hotel-search ----- */
.hotel-search {
  padding-top: 20px;

  text-align: center;
}

.hotel-search p:first-of-type {
  margin-top: 32px;
  margin-bottom: 23px;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.hotel-search p:last-of-type {
  margin-bottom: 46px;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.hotel-search > div {
  position: relative;
  max-width: 568px;
  margin: 0 auto;
}

.hotel-search button {
  cursor: pointer;
}

.hotel-search .button-brown {
  width: 100%;
  padding-top: 31px;
  padding-bottom: 29px;
}

.search-form-wrapper {
  position: absolute;
  width: 100%;

  z-index: 100;
  overflow: hidden;
}

.search-form-hide {
  pointer-events: none;
}

.search-form {
  padding: 55px;

  text-align: left;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  transform: translateY(0);
  transition: transform 0.6s;
}

.search-form-hide .search-form {
  transform: translateY(-100%);
  transition: none;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.search-form div {
  display: flex;
  justify-content: space-between;
}

.search-form > div {
  margin-bottom: 30px;
}

.inline-group + .inline-group label {
  padding-right: 23px;

  text-align: right;
}

.search-form label,
.search-form input[type="text"],
.search-form input[type="number"] {
  font-size: 14px;
  font-weight: bold;
  text-transform: inherit;

  border-color: transparent;
}

.search-form label {
  align-self: center;
  flex-shrink: 0;
  width: 109px;
  margin-right: 4px;

  line-height: 26px;
  text-align: left;
}

.search-form input[type="text"],
.search-form input[type="number"] {
  background-color: #f2f2f2;
}

.search-form input[type="text"] {
  width: 100%;
  min-height: 36px;
  padding-left: 10px;
  padding-right: 40px;

  line-height: 32px;
}

.search-form input[type="number"] {
  -moz-appearance: textfield;

  width: 38px;

  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.search-form input[type="text"]:hover,
.search-form input[type="number"]:hover {
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus,
.search-form input[type="number"]:focus {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;

  outline: transparent;
}

.calendar {
  position: absolute;
  right: 2px;
  top: calc(50% - 11px);
  vertical-align: middle;
  font-size: 0;

  color: #cacaca;
  background-color: transparent;
  border: none;
}

.calendar:hover,
.calendar:focus {
  color: #000000;
}

.calendar:active {
  color: #81b3d2;
}

.amount-button {
  position: relative;
  width: 38px;
  min-height: 38px;
  vertical-align: middle;

  color: #cacaca;
  background-color: #f2f2f2;
  border: none;
}

.amount-button::before,
.amount-button::after {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: currentColor;
}

.amount-button:hover,
.amount-button:focus {
  color: #000000;
}

.amount-button:active {
  color: #81b3d2;
}

.amount-decrement::before,
.amount-increment::before {
  content: "";
  width: 12px;
  height: 3px;
}

.amount-increment::before {
  width: 11px;
}

.amount-increment::after {
  content: "";
  width: 3px;
  height: 11px;
}

.search-form .button-blue {
  display: block;
  width: 100%;
  padding: 16px 0;
  margin-top: 54px;
}

/* ----- .map ----- */
.map {
  position: relative;
  height: 594px;

  background-color: #c2d8bf;
}

.map iframe {
  position: relative;

  z-index: 2;
}

.map img {
  position: absolute;
  left: 0;
  bottom: 0;

  z-index: 1;
}

/* ----- .search-options----- */
.search-options {
  text-transform: uppercase;
}

.search-options form:first-of-type {
  color: #ffffff;

  background: #81b3d2 url("../img/filter-background.jpg") no-repeat center;
}

.search-options fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.search-options legend {
  font-size: 16px;
  font-weight: bold;
}

.search-options ul {
  list-style: none;
}

.search-options button {
  font-size: inherit;
  color: inherit;
  text-transform: inherit;

  background-color: transparent;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.search-options button:hover,
.search-options button:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-options button:disabled,
.search-options button:disabled:hover,
.search-options button:disabled:focus,
.search-options button:disabled:active {
  color: #6a6a6a;

  background-color: transparent;
  border-color: #6a6a6a;
}

.search-filters {
  display: flex;
  padding: 29px 72px;
}

.filters-column + .filters-column {
  margin-left: 120px;
}

.filters-column legend {
  margin-bottom: 23px;
}

.filters-column ul {
  padding: 0;
  margin: 0;
}

.filters-column li {
  margin-bottom: 24px;
}

.filters-column li:last-child {
  margin-bottom: 5px; /* for  PixelPerfect */
}

.filters-column label {
  position: relative;
  padding-left: 40px;

  cursor: pointer;
}

.filters-column input[type="checkbox"] + label::before {
  position: absolute;
  left: 0;
  content: "";
  width: 27px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat left;
}

.filters-column input[type="checkbox"]:focus + label::before {
  outline: 5px auto Highlight;
}

.filters-column input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filters-column input[type="checkbox"]:disabled + label {
  color: #6a6a6a;
}

.filters-column input[type="checkbox"]:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filters-column input[type="checkbox"]:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filters-column-aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 317px;
  margin-left: auto;
}

.filters-column-aside div {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.filters-column-aside .cost-labels {
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.filters-column-aside label {
  flex-basis: 0;
  flex-grow: 1;
  padding: 5px;

  text-align: center;
}

.filters-column-aside .divider {
  display: block;
  width: 2px;
  margin: 5px 0;

  background-color: #ffffff;
}

.filters-column-aside button {
  align-self: center;
  min-width: 133px;
  padding: 8px;
  margin-top: 11px;
  margin-right: 11px; /* for PixelPerfect */
}

.search-sorting {
  display: flex;
  padding: 30px 72px;
}

.search-sorting h3 {
  padding-right: 17px;
  margin: 0;

  font-size: 21px;
  line-height: 26px;
}

.search-sorting .sort-dir {
  margin-left: auto;
}

.search-sorting fieldset {
  padding-top: 5px;
  margin-left: 30px;

  font-size: 12px;
  line-height: 18px;
}

.search-sorting legend {
  float: left;
  margin-right: 6px;

  font-size: inherit;
  font-weight: normal;
}

.sort-by label {
  margin-left: 32px;

  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort-by label:hover,
.sort-by label:focus {
  color: #81b3d2;
}

.sort-by label:active {
  color: #000000;

  border-bottom: none;
}

.sort-by input:checked + label {
  color: #81b3d2;

  border-bottom: none;
}

.sort-by input:focus + label {
  outline: 5px auto Highlight;
}

.sort-dir label {
  position: relative;
  display: inline-block;
  height: 20px;
  padding-right: 20px;

  font-size: 0;
  vertical-align: top;
  cursor: pointer;
}

.sort-dir label::before {
  position: absolute;
  top: 3px;
  right: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;

  border: 5.5px solid transparent;
}

.sort-dir .dir-up::before {
  border-top: 0;
  border-bottom: 10.5px solid #cacaca;
}

.sort-dir .dir-up:hover::before,
.sort-dir .dir-up:focus::before {
  border-bottom-color: #000000;
}

.sort-dir .dir-up:active::before,
.sort-dir input:checked + .dir-up::before {
  border-bottom-color: #81b3d2;
}

.sort-dir .dir-down::before {
  border-top: 10.5px solid #cacaca;
  border-bottom: 0;
}

.sort-dir .dir-down:hover::before,
.sort-dir .dir-down:focus::before {
  border-top-color: #000000;
}

.sort-dir .dir-down:active::before,
.sort-dir input:checked + .dir-down::before {
  border-top-color: #81b3d2;
}

.sort-dir input:focus + label {
  outline: 5px auto Highlight;
}

.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  padding: 0;
  background-color: #ffffff;
}

.range-slider[name="cost_to"] {
  width: 25%;

  background-color: rgba(255, 255, 255, 0.3);
}

/* chrome/safari */

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;

  background-color: #b1b1b1;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(177, 177, 177, 0.5);
  cursor: pointer;
}

.range-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

/* firefox */

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;

  background-color: #b1b1b1;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(177, 177, 177, 0.5);
  box-sizing: border-box;
  cursor: pointer;
}

.range-slider::-moz-range-thumb:hover {
  transform: scale(1.1);
}

/* IE only */

_:-ms-fullscreen, :root .range-slider {
  height: 24px;
  background: transparent;
}

/* Edge only */

_:-ms-lang(x), _:-webkit-full-screen, .range-slider,
_:-ms-lang(x), _:-webkit-full-screen, .range-slider[name="cost_to"] {
  height: 20px;
  background: transparent;
}

/* IE + Edge */

.range-slider::-ms-fill-lower,
.range-slider::-ms-fill-upper {
  background: transparent;
}

.range-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  margin: 0 1px;
  background-color: #b1b1b1;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(177, 177, 177, 0.5);
  cursor: pointer;
  box-sizing: inherit;
}

.range-slider::-ms-thumb:hover {
  transform: scale(1.1);
}

.range-slider::-ms-track {
  height: 2px;
  margin: 0 1px;
  background: #ffffff;
  color: transparent;
  border: none;
}

.range-slider[name="cost_to"]::-ms-track {
  background: rgba(255, 255, 255, 0.3);
}

/* ----- .hotels-list -----*/
.hotels-list ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;
}

.hotels-item {
  display: flex;
  padding: 30px 72px;

  background-color: #fefefe;
  border-top: 1px solid #e6e6e6;
}

.hotels-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.hotels-item > a {
  display: block;
  width: 135px;
  height: 90px;

  background-color: #e49b8b;
}

.hotels-item a:not([class^="button-"]) {
  color: inherit;
}

.hotels-item a:not([class^="button-"]):hover,
.hotels-item a:not([class^="button-"]):focus {
  color: #81b3d2;
}

.hotels-item a:not([class^="button-"]):active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-item p {
  padding: 4px 15px;
  margin: 0;

  color: #666666;
  background-color: #f2f2f2;
}

.hotels-info {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 30px;
}

.hotels-info h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 17px;

  font-size: 21px;
  line-height: 16px;
}

.hotels-info span {
  line-height: 11px;
  color: #333333;
}

.hotels-info-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hotels-info-column + .hotels-info-column {
  margin-left: 6px;
}

.hotels-info-column .button-small {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  padding: 8px 17px 7px;
  margin-top: 19px;

  box-sizing: content-box;
}

.hotels-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.rating-item {
  display: inline-block;
  width: 100%;
  height: 17px;
  margin-bottom: auto;

  background: url("../img/star.svg") space;
}

.rating-item.four-stars {
  width: 79%;
}

 .rating-item.three-stars {
  width: 59%;
}

.rating-item.two-stars {
  width: 39%;
}

/* ----- footer ----- */
.main-footer {
  position: absolute;
  width: 100%;
  min-height: 120px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: rgba(254, 254, 254, 0.9);
  z-index: 100;
}

/* IE11 fix */
.main-footer::after {
  content: '';
  min-height: inherit;
  font-size: 0;
}

.inner-page .main-footer {
  position: static;
}

.footer-contacts,
.footer-social,
.footer-copyright {
  width: calc(100% / 3);
}

.footer-contacts {
  padding-left: 123px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  color: inherit;
}

.footer-contacts p {
  height: 16px;
  margin: 0;
  margin-bottom: 16px;
}

.footer-contacts a {
  color: inherit;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  margin: 0 auto -6px;

  list-style: none;
}

.social-button {
  display: inline-block;
  width: 46px;
  height: 48px;

  font-size: 0;
  line-height: 0;

  background-color: #81b3d2;
}

.social-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
}

.social-button-twitter::before {
  background-image: url("../img/social-twitter.svg");
}

.social-button-fb::before {
  background-image: url("../img/social-fb.svg");
}

.social-button-youtube::before {
  background-image: url("../img/social-youtube.svg");
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.footer-copyright {
  padding-right: 101px;

  font-size: 14px;
  line-height: 26px;
  text-align: right;
}

.copyright-logo {
  display: inline-block;
  margin-left: 5px;

  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  color: #231f20;
}

.copyright-logo:hover,
.copyright-logo:focus {
  color: #81b3d2;
}

.copyright-logo:active {
  color: #bdbbbc;
}
