/* ----- basic ----- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;

  word-break: break-word;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.text-fitter {
  width: 568px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: inherit;
}

.button-big {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: inherit;

  border: none;
}

.button-small {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: inherit;

  border: none;
}
.button-brown {
  color: #ffffff;
  background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* ----- visually-hidden ----- */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- header -----*/
.main-navigation {
  position: relative;
  width: 100%;
  min-height: 56px;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.main-header-logo {
  position: absolute;
  left: calc(100% / 2 - 70px);
  display: inline-block;
  width: 140px;
  height: 71px;
}

.site-navigation {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-navigation li {
  width: 236px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:nth-child(2) {
  margin-right: 244px;
}

.site-navigation a {
  color: inherit;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}
/* ----- .main -----*/
/* ----- intro ----- */
.welcome {
  width: auto;
  height: 510px;

  background-color: #d7e8f1;
  background-image:
    url("../img/intro-welcome.svg"),
    url("../img/intro-mask.svg"),
    url("../img/background-main.jpg");
  background-size: 459px, 100%, 100%;
  background-position: 50% 48%, 50% 100.8%, 0% 29%;
  background-repeat: no-repeat;
}

.introduction {
  padding-top: 58px;
  padding-bottom: 50px;
  text-align: center;
}

.introduction h2 {
  font-size: 21px;
  line-height: 26px;
}

.introduction p {
  margin: 0;
  margin-top: 30px;
  line-height: 26px;
  color: #333333;
}

/* ----- .features-list ----- */
.features {
  background-color: #eeeeee;
}
.features-list, .features-sub-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.features-list h3 {
  max-width: 150px;
  margin: 0 auto;
  font-size: 21px;
}

.features-list p {
  margin: 0;
  margin-top: 25px;
}
/*
 .features-list li.list-item:not(.item-special) {
   background-color: #eeeeee;
 }*/

.features-list .item-special {
  display: flex;

  color: #ffffff;

  background-color: #81b3d2;
}

.item-special:nth-child(even) {
  flex-direction: row-reverse;
}

.list-item, .features-sub-list li {
  width: 400px;
  padding: 48px;
}

.features-sub-list h3 {
  padding-top: 111px;
}

.features-sub-list p {
  margin-bottom: 36px;
}
/* ----- .hotel-search ----- */

.hotel-search {
  padding-top: 20px;

  text-align: center;
}

.hotel-search p:first-of-type {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.hotel-search p:last-of-type {
  margin-bottom: 46px;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.hotel-search > div {
  position: relative;
  max-width: 568px;
  margin: 0 auto;
}

.hotel-search .button-brown {
  width: 100%;
  padding-top: 29px;
  padding-bottom: 27px;
}

.search-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 55px;

  text-align: left;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-form div {
  display: flex;
  position: relative;
}

.search-form > div {
  margin-bottom: 30px;
}

.search-form div:last-of-type {
  justify-content: space-between;
}

.amount-guests div {
  width: 114px;
}

.amount-guests:last-of-type label {
  padding-right: 25px;

  text-align: right;
}

.search-form label,
.search-form input[type="text"],
.search-form input[type="number"] {
  font-size: 14px;
  font-weight: bold;
  text-transform: inherit;

  border-color: transparent;
}

.search-form label {
  min-width: 109px;
  padding-top: 9px;
  padding-right: 10px;

  text-align: left;
  line-height: 26px;
}

.search-form input[type="text"],
.search-form input[type="number"] {
  background-color: #f2f2f2;
}

.search-form input[type="text"] {
  width: 100%;
  padding-left: 10px;
  padding-right: 40px;
  line-height: 38px;
}

.search-form input[type="number"] {
  -moz-appearance: textfield;

  flex-grow: 1;

  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.search-form input[type="text"]:hover,
.search-form input[type="number"]:hover {
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus,
.search-form input[type="number"]:focus {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
  outline: transparent;
}

.calendar {
  position: absolute;
  right: 5px;
  top: calc(100% / 2 - 11px);
  vertical-align: middle;
  font-size: 0;

  border: none;
  background-color: transparent;
  fill: #cacaca;

}

.calendar:hover,
.calendar:focus {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.amount-button {
  position: relative;
  width: 38px;
  min-height: 38px;
  vertical-align: middle;

  border: none;
  color: #cacaca;

  background-color: #f2f2f2;
}

.amount-button::before,
.amount-button::after {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
}

.amount-button:hover,
.amount-button:focus {
  color: #000000;
}

.amount-button:active {
  color: #81b3d2;
}

.amount-decrement::before,
.amount-increment::before {
  content: "";
  width: 12px;
  height: 3px;
}

.amount-increment::before {
  width: 11px;
}

.amount-increment::after {
  content: "";
  width: 3px;
  height: 11px;
}

.search-form .button-blue {
  padding: 16px 0;
  margin-top: 11px;
}

/* ----- .search-options----- */
.search-options {
  text-transform: uppercase;
}

.search-options form:first-of-type {
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.search-options fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.search-options legend {
  font-size: 16px;
  font-weight: bold;
}

.search-options ul {
  list-style: none;
}

.search-options button {
  font-size: inherit;
  color: inherit;
  text-transform: inherit;

  background-color: transparent;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.search-options button:hover,
.search-options button:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-filters {
  display: flex;
  padding: 29px 72px; /*временные значения*/
}

.filters-column:nth-child(2n) {
  margin-left: 107px;
}

.filters-column legend {
  margin-bottom: 23px;
}

.filters-column ul {
  padding: 0;
  margin: 0;
}

.filters-column li {
  margin-bottom: 18px;
}

.filters-column li:last-child {
  margin-bottom: 0;
}

.filters-column-aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
}

.filters-column-aside button {
  align-self: center;
  min-width: 133px;
  padding: 11px 0;
  margin-top: 18px;
}

.search-sorting {
  display: flex;
  padding: 30px 72px;
}

.search-sorting h3 {
  padding-right: 17px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.search-sorting .sort-dir {
  margin-left: auto;
}

.search-sorting fieldset {
  padding-top: 3px;
  margin-left: 30px;

  font-size: 12px;
  line-height: 18px;
}

.search-sorting legend {
  float: left;
  margin-right: 6px;
  font-size: inherit;
  font-weight: normal;
}

.sort-by label {
  margin-left: 32px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-by input:checked + label {
  color: #81b3d2;
  border-bottom: none;
}


/* ----- .hotels-list -----*/

.hotels-list ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-item {
  display: flex;
  padding: 30px 72px;

  background-color: #fefefe;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-item a:not([class^="button-"]) {
  line-height: 0;
  color: inherit;
}

.hotels-item a:not([class^="button-"]):hover,
.hotels-item a:not([class^="button-"]):focus {
  color: #81b3d2;
}

.hotels-item a:not([class^="button-"]):active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-item p {
  margin: 0;

  color: #666666;
  background-color: #f2f2f2;
}

.hotels-info {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 30px;
}

.hotels-info h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 17px;
  font-size: 21px;
  line-height: 16px;
}

.hotels-info span {
  line-height: 11px;
  color: #333333;
}

.hotels-info-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hotels-info-column + .hotels-info-column {
  margin-left: 6px;
}

.hotels-info-column .button-small {
  display: inline-flex;
  align-items: center;
  height: 12px;
  padding: 8px 17px 7px;
  margin-top: 19px;
  box-sizing: content-box;
}

.hotels-rating {
  margin-left: auto;
}
/* ----- footer ----- */
.main-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 152px;

  text-align: center;
  background-color: rgba(254, 254, 254, 0.9);
}

.inner-page .main-footer {
  position: static;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  color: inherit;
}

.footer-contacts a {
  color: inherit;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  margin: 36px;

  list-style: none;
}

.social-button {
  display: inline-block;
  width: 46px;
  height: 48px;

  font-size: 0;
  line-height: 0;

  background-color: #81b3d2;
}

.social-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-twitter::before {
  background-image: url("../img/social-twitter.svg");
}

.social-button-fb::before {
  background-image: url("../img/social-fb.svg");
}

.social-button-youtube::before {
  background-image: url("../img/social-youtube.svg");
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
}

.copyright-logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.copyright-logo svg:hover,
.copyright-logo svg:focus {
  fill: #81b3d2;
}

.copyright-logo svg:active {
  fill: #bdbbbc;
}
